html {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    overflow-x: hidden;
}

.body {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows:auto;
  grid-template-areas: 
    "header header header header"
	"nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}

.header {
	grid-area: header;
	border-bottom: 3px black solid;
	text-align: center;
	background-color: #EFAEAE;
}

.nav {
	
}

.main {
	text-align: center;
}



.footer {
	background-color: black;
	color: white;
	border-top: 3px red solid;
	width: 100%;
	height: 300px;
	text-align: left;
}

.footer p, h3 {
	padding-left: 10px;
}


iframe {
	float: right;
	margin-right: auto;
	margin-left:auto;
	height:200px;
	width:700px;
}

#main_img {
	width: 99.9%;
	padding: 0.1%;
}

.person {
	height: 50px;
	width: 50px;
}

#members {
	margin-left:auto;
	margin-right: auto;
	border-collapse: collapse;
	width:100%;
	border: red;
}

#member td, #members th {
	border: 1px solid red;
	padding: 8px;
}

#members tr:hover {
	background-color: black;
	color: white;
	border-color: #fc0404;
}

#members th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: black;
	color: white;
}

.button {
	justify-items: center;
	width:9%;
	margin-top: 5px;
	margin-left:7.5%;
	margin-right:7.5%;
  background: #fff;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  padding-left:.5%;
  padding-right:.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: transform .5s;
}

.button:not(:disabled):hover {
  transform: scale(1.05);
  background-color:black;
  color:white;
}


.button:not(:disabled):active {
  transform: translateY(5px);
}
#logo {
	padding:4px;
	height:160px;
	width:160px;
	border: 4px black solid;
}